{{define "page-title"}}Home{{end}}
{{define "page-body"}}
{{if .Worksheets}}
<div class="row">
<div class="col-sm-10">
      <h2>Worksheets</h2>
</div>
<div class="col-sm-2">
      <a class="btn btn-success" href="/worksheet/new">New Worksheet</a>
</div>
</div>
  <div class="row">
    <table class="table">
          <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
          </thead>
          {{range .Worksheets}}
          <tr>
                <td>
                      <a href="/worksheet/{{.ID}}">{{.ID}}</a>
                </td>
                <td>{{.Name}}</td>
                <td>{{humanDate .Created}}</td>
          </tr>
          {{end}}
    </table>
    {{else}}
    <p>There's nothing to see here yet!</p>
    {{end}}
  </div>
{{end}}