{{define "page-title"}}Worksheet - {{.Worksheet.Name}}{{end}}
{{define "page-body"}}
{{template "worksheet-navbar" .}}
<div class="clearfix"></div>
      {{with .Worksheet}}
      <form enctype="multipart/form-data" action="/worksheet/{{.ID}}/photo/new" method="POST">
      <div class="row">
            <div class="col-sm-9"><h2>Worksheet No. {{.ID}} - {{.Name}}</h2></div>
      </div>
      <div class="row">
            <label for="uploadFile" class="col-md-3 col-form-label">Photo</label>
            <div class="col-md-9">
            <input type="file" name="uploadFile" >
            </div>
      </div>
      <div class="row">
            <label for="running_number" class="col-md-3 col-form-label">Running No.</label>
            <div class="col-md-9">
            <input type="number" class="form-control" id="running_number" name="running_number" value="">
            </div>
      </div>
      <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2"><button class="btn btn-primary">Save</button></div>
      </div>
      </form>
      {{end}}
{{end}}