{{define "page-title"}}Home{{end}}
{{define "page-body"}}
<div class="row justify-content-between">
      <div class="col-sm-3">
            <h2>
                  <a href="/products"></a>Products</a>
            </h2>
      </div>
</div>
<div class="row">
      {{if .Products}}
      <table class="table table-responsive">
            <thead>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Date</th>
            </thead>
            {{range .Products}}
            <tr>
                  <td>
                        <a href="/event/{{$.Event.ID}}/product/{{.ID}}">{{.ID}}</a>
                  </td>
                  <td>{{.Title}}</td>
                  <td>{{humanDate .Date}}</td>
            </tr>
            {{end}}
      </table>
      {{else}}
      <p>There's nothing to see here yet!</p>
      {{end}}
</div>
{{end}}