{{define "page-title"}}Project - {{.Project.Name}}{{end}}
{{define "page-body"}}
{{template "project-navbar" .}}
<div class="clearfix"></div>
      {{with .Project}}
      <form action="/project/{{.ID}}/edit" method="POST">
      <div class="row">
            <div class="col-sm-9"><h2>Project No. {{.ID}} - {{.Name}}</h2></div>
      </div>
      <div class="row">
            <label for="project_name" class="col-md-3 col-form-label">Project Name</label>
            <div class="col-md-9">
            <input type="text" class="form-control" id="project_name" name="project_name" value="{{.Name}}">
            </div>
      </div>
      <div class="row">
            <div class="col-sm-4"></div>
            <div class=".col-sm-8"><button class="btn btn-primary">Save</button></div>
      </div>
      </form>
      {{end}}
{{end}}