{{define "page-title"}}{{.Title}}{{end}}
{{define "page-body"}}

<div class="row">
      <div class="col-sm-9">
            <h2>Teams</h2>
      </div>
      <div class="col-sm-3">
            <a class="btn btn-success" href="/team/new">New Team</a>
      </div>
</div>

<div class="row">
      {{if .Teams}}
      <table class="table table-responsive">
            <thead>
                  <th>ID</th>
                  <th>Name</th>
                  <th></th>
                  <th></th>
            </thead>
            {{range .Teams}}
            <tr>
                  <td>{{.ID}}</td>
                  <td><a href="/worksheet/team/{{.ID}}">{{.Name}}</a></td>
                  <td><a href="/team/{{.ID}}/edit" class="btn btn-info">Edit</a></td>
                  <td><form action="/team/{{.ID}}/delete" method="POST">
                        <button class="btn btn-danger" 
                        onclick="return confirm('Are you sure you want to delete this worksheet?');">Delete</button>
                  </form></td>
            </tr>
            {{end}}
      </table>
      {{else}}
      <p>There's nothing to see here yet!</p>
      {{end}}
</div>
{{end}}