{{define "page-title"}}Worksheet No. {{.Worksheet.ID}} - {{.Worksheet.Name}}{{end}}
{{define "page-body"}}
{{template "worksheet-navbar" .}}

{{with .Worksheet}}
<div class="row">
      <div class="col-sm-8">
            <h2>{{.Name}}</h2>
      </div>
</div>
<div class="row">
      <label for="" class="col-sm-2"><strong>Zone</strong></label>
      <div class="col-sm-10">{{.ZoneName}}</div>
</div>
<div class="row">
      <label for="" class="col-sm-2"><strong>Team</strong></label>
      <div class="col-sm-10">{{.TeamName}}</div>
</div>

{{end}}
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
            height: 500px;   
            width: 900px;  
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

<div class="row">
<div id="map"></div>
</div>
    <script>
      function initMap() {
      
            var locations = {{marshal .Locations}}
            var myLatLng = locations[0];

            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: myLatLng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var marker, i;
            for (i = 0; i < locations.length; i++) {  
                  marker = new google.maps.Marker({
                  position: locations[i],
                  map: map
                  });

                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                  return function() {
                  infowindow.setContent(i.toString());
                  infowindow.open(map, marker);
                  }
                  })(marker, i));
            }
      }
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoFiC5wMqLpLAHYbb3ca76b_SXIWkpmuE&callback=initMap">
    </script>

{{end}}