{{define "page-title"}}Worksheet No. {{.Worksheet.ID}} - {{.Worksheet.Name}}{{end}}
{{define "page-body"}}
{{template "worksheet-navbar" .}}

{{with .Worksheet}}
<div class="row">
      <div class="col-sm-8">
            <h2>{{.Name}}</h2>
      </div>
      <div class="col-sm-1">
            <form action="/worksheet/{{.ID}}/delete" method="POST">
                  <button class="btn btn-danger" 
                  onclick="return confirm('Are you sure you want to delete this worksheet?');">Delete</button>
            </form>
      </div>
      <div class="col-sm-1">
            <a class="btn btn-success" href="/worksheet/{{.ID}}/edit">Edit</a>
      </div>
      <div class="col-sm-2">
            <a class="btn btn-success" href="/worksheet/{{.ID}}/download">Download</a>
      </div>
</div>
<div class="row">
      <label for="" class="col-sm-2"><strong>Zone</strong></label>
      <div class="col-sm-10">{{.ZoneName}}</div>
</div>
<div class="row">
      <label for="" class="col-sm-2"><strong>Team</strong></label>
      <div class="col-sm-10">{{.TeamName}}</div>
</div>
<div class="row">
      <div class="col-sm-6"><img src="https://chart.googleapis.com/chart?cht=qr&amp;chl={{.ID}}&amp;chs=200x200" ></div>
      <div class="col-sm-2">
            <a href="/worksheet/{{.ID}}/maps">Maps</a>
      </div>
</div>
{{end}}

{{template "photo-index-partial" .}}

{{end}}