{{define "page-title"}}New Worksheet{{end}}
{{define "page-body"}}
<div class="clearfix"></div>
      <form action="/zone/new" method="POST">
      <div class="row">
            <div class="col-sm-9"><h2>New Zone</h2></div>
      </div>
      <div class="row">
            <label for="zone_name" class="col-md-3 col-form-label">Zone Name</label>
            <div class="col-md-9">
            <input type="text" class="form-control" id="zone_name" name="zone_name" value="">
            </div>
      </div>
      <div class="row">
            <div class="col-sm-4"></div>
            <div class=".col-sm-8"><button class="btn btn-primary">Save</button></div>
      </div>
      </form>
{{end}}